@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #464646;
  background-color: #ffffff;
}

a {
  line-height: 36px;
  color: #000000;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden,
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.page-title,
.page-subtitle {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: 0.01em;
  color: #000000;
}

.popular-devices .h3-like,
.catalog-item h3 {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #000000;
}

.list-decoration {
  margin: 0;
  padding: 0;
  list-style: none;
}

/**********HEADER**********/

.header {
  padding-top: 23px;
  padding-right: 60px;
  padding-bottom: 34px;
  padding-left: 60px;
  background: #f7e296;
  background-image: linear-gradient(#ffffff 0px, #ffffff 40px, #f7e296 40px);
}

.header-inner {
  padding-bottom: 51px;
}

.header-logo img {
  margin-top: -2px;
  margin-left: -1px;
}

.header-logo-inner img {
  margin-top: 0px;
}

.header-logo-inner:hover img,
.header-logo-inner:focus img,
.footer-logo-inner:hover img,
.footer-logo-inner:focus img {
  opacity: 0.6;
}

.header-logo-inner:active img,
.footer-logo-inner:active img {
  opacity: 0.3;
}

.user-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 4px;
}

.user-block-inner {
  padding-top: 2px;
}

.user-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 7px;
}

.search-form {
  position: relative;
  width: 440px;
  margin-left: -2px;
  line-height: 36px;
}

.search-form::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 5px;
  width: 16px;
  height: 16px;
  background: url("../img/search.svg") no-repeat;
}

.search-form-field {
  width: 315px;
  min-height: 50px;
  padding-left: 40.5px;
  font: inherit;
  letter-spacing: 0.01em;
  background-color: transparent;
  border: solid 2px transparent;
  border-width: 2px 0;
}

.search-form-field::-webkit-input-placeholder {
  color: #000000;
  opacity: 0.3;
}

.search-form-field::-moz-placeholder {
  color: #000000;
  opacity: 0.3;
}

.search-form-field:-moz-placeholder {
  color: #000000;
  opacity: 0.3;
}

.search-form-field:-ms-input-placeholder {
  color: #000000;
  opacity: 0.3;
}

.search-form-field:hover::-webkit-input-placeholder {
  color: #000000;
  opacity: 0.6;
}

.search-form-field:hover::-moz-placeholder {
  color: #000000;
  opacity: 0.6;
}

.search-form-field:hover:-moz-placeholder {
  color: #000000;
  opacity: 0.6;
}

.search-form-field:hover:-ms-input-placeholder {
  color: #000000;
  opacity: 0.6;
}

.search-form-field:focus::-webkit-input-placeholder {
  color: #000000;
  opacity: 1;
}

.search-form-field:focus::-moz-placeholder {
  color: #000000;
  opacity: 1;
}

.search-form-field:focus:-moz-placeholder {
  color: #000000;
  opacity: 1;
}

.search-form-field:focus:-ms-input-placeholder {
  color: #000000;
  opacity: 1;
}

.search-form-field:active::-webkit-input-placeholder {
  color: #000000;
  opacity: 1;
}

.search-form-field:active::-moz-placeholder {
  color: #000000;
  opacity: 1;
}

.search-form-field:active:-moz-placeholder {
  color: #000000;
  opacity: 1;
}

.search-form-field:active:-ms-input-placeholder {
  color: #000000;
  opacity: 1;
}

.search-form-field:focus {
  outline: none;
  border-bottom-color: #000000;
}

.search-btn {
  width: 85px;
  min-height: 50px;
  margin-left: -4px;
  font: inherit;
  color: transparent;
  background-color: transparent;
  border: solid 2px transparent;
  cursor: pointer;
}

.search-form-field:focus + .search-btn {
  color: #000000;
  border-color: #000000;
}

.search-form-field:focus + .search-btn:hover {
  color: rgba(255, 255, 255, 1);
  background-color: #000000;
}

.search-form-field:focus + .search-btn:active,
.search-btn:focus {
  outline: none;
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
}

.user-navigation a:hover,
.user-navigation a:focus,
.site-navigation a:hover,
.site-navigation a:focus {
  opacity: 0.6;
  outline: none;
}

.user-navigation a:active,
.site-navigation a:active {
  opacity: 0.3;
}

.user-item .sign-in {
  padding-right: 213px;
}

.user-item .compare {
  padding-right: 39.5px;
}

.sign-out {
  padding-right: 60px;
  opacity: 0.3;
}

.sign-out:active {
  opacity: 1;
}

.user-account {
  margin-right: -5px;
}

.user-navigation a {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-left: 24px;
}

.user-navigation .sign-in {
  padding-left: 26px;
}

.sign-in::before {
  content:"";
  position: absolute;
  top: 12px;
  left: 0px;
  width: 13px;
  height: 12px;
  background: url("../img/user.svg") no-repeat;
}

.user-account::before {
  content:"";
  position: absolute;
  top: 12px;
  left: -2px;
  width: 13px;
  height: 12px;
  background: url("../img/user.svg") no-repeat;
}

.compare::before {
  content:"";
  position: absolute;
  top: 14px;
  left: 5px;
  width: 10px;
  height: 10px;
  background: url("../img/compare.svg") no-repeat;
}

.basket::before {
  content:"";
  position: absolute;
  top: 12px;
  left: 2px;
  width: 12px;
  height: 12px;
  background: url("../img/cart.svg") no-repeat;
}

.site-navigation {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1040px;
  margin-top: 30px;
}

.site-item:nth-of-type(4n+1) {
  width: 540px;
}

.site-item:nth-of-type(4n+2) {
  width: 130px;
}

.site-item:nth-of-type(4n+3) {
  width: 115px;
  padding-left: 28px;
}

.site-item:nth-of-type(4n+4) {
  width: 123px;
  padding-left: 104px;
}

.site-item:nth-of-type(4n+4) a {
  margin-right: -4px;
  text-align: right;
}

.site-navigation-link {
  display: block;
  vertical-align: top;
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  word-wrap: break-word;
}

.site-navigation-catalog {
  position: relative;
  padding-right: 33px;
  width: 220px;
}

.site-navigation-catalog::after {
  content:"";
  position: absolute;
  top: 3px;
  left: 230px;
  width: 16px;
  height: 16px;
  background: url("../img/plus.svg") no-repeat;
  opacity: 0.3;
}

.site-navigation-catalog:hover::after,
.site-navigation-catalog:focus::after {
  opacity: 0.5;
}

.site-navigation-catalog:active::after {
  opacity: 1;
}

.site-navigation-catalog:hover + .catalog-list,
.site-navigation-catalog:focus + .catalog-list {
  visibility: visible;
}

.catalog-list {
  position: absolute;
  right: -60px;
  left: -60px;
  z-index: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  visibility: hidden;
  padding-top: 22px;
  padding-right: 60px;
  padding-bottom: 34px;
  padding-left: 60px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.01em;
  color: #000000;
  background-color: #f7e296;
}

.catalog-list:hover,
.catalog-list:focus {
  visibility: visible;
}

.catalog-list::before {
  position: absolute;
  z-index: -10;
  top: -10px;
  left: 0;
  visibility: visible;
  width: 1160px;
  height: 100%;
}

.catalog-opener:hover + .catalog-list::before,
.catalog-list:hover::before {
  content: "";
}

.catalog-category {
  width: 160px;
  padding-right: 40px;
}

.catalog-category:first-of-type {
  width: 200px;
}

.catalog-item a {
  word-wrap: break-word;
}

/**********КНОПКА**********/

.btn {
  position: relative;
  display: block;
  padding: 9px 0;
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  word-wrap: break-word;
  color: #000000;
  background-color: transparent;
  background-image: linear-gradient(transparent 0%, transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%, transparent 100%);
  border: none;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: #f0c52e;
  outline: none;
}

.btn:active {
  color: #be9c22;
  background-color: #f0c52e;
}

/**********CONTENT**********/

/*-----index-----*/

/**ПРОМО-СЛАЙДЕР**/

.promo {
  position: relative;
  margin-bottom: 95px;
  background-color: #ffffff;
  background-image: linear-gradient(#f7e296 0px, #f7e296 130px, #ffffff 130px);
}

.slider-inner {
  overflow: hidden;
}

.slider-slides {
  display: flex;
  flex-direction: row;
  width: 300%;
  transition: transform 0.2s ease;
  counter-reset: number;
}

.promo-item {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1100px;
  padding-right: 60px;
  padding-top: 30px;
}

.promo-item::before {
  content: "";
  position: absolute;
  top: 56px;
  right: 460px;
  width: 100px;
  height: 7px;
  background-color: #ffffff;
}

.promo-item::after {
  counter-increment: number;
  content: "0" counter(number);
  position: absolute;
  top: 5px;
  right: 47px;
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 180px;
  font-weight: 800;
  line-height: 180px;
  letter-spacing: 0.001em;
  color: #ffffff;
}

.promo-item h2 {
  position: relative;
  z-index: 2;
  margin-bottom: 19px;
  margin-top: 67px;
}

.promo-item-image {
  position: relative;
  flex-grow: 1;
  width: 526px;
  height: 486px;
}

.promo-item-image img {
  position: absolute;
  display: block;
}

.promo-item-image1 img {
  top: -11px;
  left: 90px;
}

.promo-item-image2 img {
  top: 1px;
  left: 116px;
}

.promo-item-image3 img {
  top: 54px;
  left: 31px;
}

.promo-item-description {
  width: 501px;
  padding-top: 1px;
  padding-left: 20px;
  padding-right: 0px;
}

.promo-item-description p {
  width: 481px;
  margin: 0;
  padding: 0;
}

.item-parameters {
  margin-left: -3px;
}

.item-parameter-type {
  width: 155px;
  padding-left: 1px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #464646;
}

.item-parameter-value {
  width: 155px;
  padding-bottom: 6px;
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 43px;
  letter-spacing: 0.01em;
  color: #000000;
}

.item-parameter-type:nth-of-type(2),
.item-parameter-value:nth-of-type(2) {
  width: 135px;
}

.item-parameter-type:nth-of-type(1) {
  padding-left: 2px;
}

.item-parameter-type:nth-of-type(3) {
  padding-left: 3px;
}

.promo-btn {
  box-sizing: border-box;
  width: 220px;
  margin-top: 43px;
  margin-bottom: 50px;
  padding-left: 4px;
}

.promo-controls {
  z-index: 3;
  position: absolute;
  bottom: 139px;
  right: 64px;
}

.promo-controls label {
  display: inline-block;
  vertical-align: top;
  width: 4px;
  height: 4px;
  margin-right: 19px;
  border: 3px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #000000;
  transition: background-color 0.2s;
  cursor: pointer;
}

.promo-1:checked ~ .promo-controls label[for="promo-btn-1"],
.promo-2:checked ~ .promo-controls label[for="promo-btn-2"],
.promo-3:checked ~ .promo-controls label[for="promo-btn-3"] {
    box-shadow: 0 0 0 1px #000000,
                inset 0 0 0 1px #000000;
}

.promo-1:checked ~ .slider-inner .slider-slides {
  transform: translate(0);
}

.promo-2:checked ~ .slider-inner .slider-slides {
  transform: translate(-1160px);
}

.promo-3:checked ~ .slider-inner .slider-slides {
  transform: translate(-2320px);
}

/**ПОПУЛЯРНЫЕ ТОВАРЫ**/

.popular-devices {
  margin-bottom: 45px;
}

.popular-devices-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.popular-devices-list li {
    margin-right: 40px;
    margin-bottom: 40px;
}

.popular-devices-list li:nth-of-type(6n) {
  margin-right: 0;
}

.popular {
  position: relative;
  display: block;
  width: 160px;
  padding-top: 194px;
}

.popular span {
  word-wrap: break-word;
}

.popular::before,
.popular::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 160px;
}

.popular::before {
  background-color: #f7e296;
}

.popular-1::after {
  background: url("../img/popular-1.svg") no-repeat 49% 49.5%;
}

.popular-2::after {
  background: url("../img/popular-2.svg") no-repeat 51% 96%;
}

.popular-3::after {
  background: url("../img/popular-3.svg") no-repeat 55% 52%;
}

.popular-4::after {
  background: url("../img/popular-4.svg") no-repeat 52% 53%;
}

.popular-5::after {
  background: url("../img/popular-5.svg") no-repeat 53% 52%;
}

.popular-6::after {
  background: url("../img/popular-6.svg") no-repeat 48% 54%;
}

.popular:hover::before,
.popular:focus::before,
.popular:active::before {
  background-color: #f0c52e;
  outline: none;
}

.popular:hover,
.popular:focus {
  outline: none;
}

.popular:active::after,
.popular:active span {
  opacity: 0.3;
}

/**ДОСТАВКА-ГАРАНТИЯ-КРЕДИТ**/

.services-background {
  background-color: #e5e5e5;
  background-image: linear-gradient(#ffffff 0px, #ffffff 100px, #e5e5e5 100px);
  margin-bottom: 95px;
}

.services {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-bottom: 55px;
}

.services-controls {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 277px;
  margin-right: 115px;
  padding: 80px 0 45px;
  border-right: 7px solid #000000;
}

.services-btn {
  width: 160px;
  margin-bottom: 25px;
}

.services-btn:active {
  color: #f7e184;
  background: #000000;
  padding-right: 120px;
}

.service-1:checked ~ .services-controls .service-label-1,
.service-2:checked ~ .services-controls .service-label-2,
.service-3:checked ~ .services-controls .service-label-3 {
  padding-right: 120px;
  color: #f7e184;
  background-color: #000000;
  background-image: none;
}

.slider-inner-2 {
    overflow: hidden;
}

.slider-slides-2 {
  display: flex;
  flex-direction: row;
  width: 300%;
  transition: transform 0.8s ease;
}

.services-item {
  width: 760px;
  padding-top: 30px;
}

.services-item p {
  width: 460px;
}

.services-item-delivery {
  background-color: transparent;
  background: url("../img/delivery.svg") no-repeat 560px 100px;
}

.services-item-warranty {
  background-color: transparent;
  background: url("../img/warranty.svg") no-repeat 540px 75px;
}

.services-item-credit {
  background-color: transparent;
  background: url("../img/credit.svg") no-repeat 535px 75px;
}

.service-1:checked ~ .slider-inner-2 .slider-slides-2 {
  transform: translate(0);
}

.service-2:checked ~ .slider-inner-2 .slider-slides-2 {
  transform: translate(-760px);
}

.service-3:checked ~ .slider-inner-2 .slider-slides-2 {
  transform: translate(-1520px);
}

/**БРЕНДЫ**/

.brands {
  margin-bottom: 40px;
}

.brands-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.brands-item {
  margin-right: 40px;
  margin-bottom: 40px;
}

.brands-item:nth-of-type(4n) {
  margin-right: 0;
}

.brand-logo {
  position: relative;
  /*filter: grayscale(1) opacity(0.2);*/
}

.brand-logo img {
  opacity: 0;
}

.brand-logo::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 260px;
  height: 100px;
  opacity: 0.2;
}

.brand-logo-1::after {
  background: url("../img/logo-grayscale-1.jpg");
}

.brand-logo-2::after {
  background: url("../img/logo-grayscale-2.jpg");
}

.brand-logo-3::after {
  background: url("../img/logo-grayscale-3.jpg");
}

.brand-logo-4::after {
  background: url("../img/logo-grayscale-4.jpg");
}

.brand-logo:hover img,
.brand-logo:focus img,
.brand-logo:active img {
  opacity: 1;
  outline: none;
  /*filter: none;*/
}

.brand-logo:hover::after,
.brand-logo:focus::after,
.brand-logo:active::after {
  opacity: 0;
}

/**О НАС, КОНТАКТЫ**/

.information-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about,
.contacts {
  display: block;
  position: relative;
  margin-bottom: 80px;
  padding-top: 10px;
}

.about {
  width: 475px;
}

.contacts {
  width: 560px;
}

.about::before,
.contacts::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.about p,
.contacts p {
  margin-bottom: 30px;
  letter-spacing: 0em;
}

.about ul {
  margin: 0;
  margin-top: 65px;
  margin-bottom: 55px;
  padding: 0;
  padding-left: 20px;
}

.about li {
  position: relative;
  padding-left: 15px;
  font-size: 16px;
  font-weight: 900;
  color: #e5e5e5;
  list-style-type: circle;
  list-style-position: outside;
}

.about span {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: 0em;
  color: #000000;
}

.map {
  display: block;
  padding-top: 10px;
  padding-bottom: 55px;
}

.info-btn {
  width: 260px;
}

/*-----catalog-----*/

.breadcrumbs li {
  display: inline-block;
  vertical-align: top;
  padding-right: 20px;
  padding-left: 10px;
}

.breadcrumbs a {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.01em;
  color: #000000;
  opacity: 0.3;
}

.breadcrumbs-item a:hover,
.breadcrumbs-item a:focus {
  opacity: 0.6;
  outline: none;
}

.breadcrumbs-item a:active {
  opacity: 0.1;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item::after {
  content: "";
  position: absolute;
  top: 15px;
  right: 0;
  width: 4px;
  height: 7px;
  background: url("../img/nav-arrow.svg") no-repeat;
}

.sorting-background {
  background: #ebebeb;
  background-image: linear-gradient(to right, #dbdbdb 0%, #dbdbdb 33%, #ebebeb 33%, #ebebeb 100%);
}

.sorting-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.catalog-title {
  margin: 0;
  padding-left: 10px;
  padding-top: 26px;
  padding-bottom: 30px;
}

.filter-side .catalog-title {
  padding-right: 170px;
}

.sorting .catalog-title {
  padding-left: 72px;
}

.catalog-title,
.pagination-item a {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.sorting {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.sorting-item {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  margin-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
}

.sorting-item a {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  color: #000000;
  opacity: 0.3;
}

.sorting-item a:hover,
.sorting-item a:focus,
.sorting-ascending a:hover::after,
.sorting-ascending a:focus::after,
.sorting-descending a:hover::after,
.sorting-descending a:focus::after {
  opacity: 0.6;
  outline: none;
}

.sorting-item a:active,
.sorting-ascending a:active::after,
.sorting-descending a:active::after {
  opacity: 1;
}

.sorting-ascending a,
.sorting-descending a {
  position: relative;
}

.sorting-ascending a::after,
.sorting-descending a::after {
  content: "";
  position: absolute;
  top: 10px;
  width: 11px;
  height: 10px;
  opacity: 0.3;
}

.sorting-ascending a::after {
  background: url("../img/icon-up-dir.svg") no-repeat;
}

.sorting-descending a::after {
  background: url("../img/icon-down-dir.svg") no-repeat;
}

.filters-background {
  background: #ffffff;
  background-image: linear-gradient(to right, #eeeeee 0%, #eeeeee 33%, #ffffff 33%, #ffffff 100%);
}

.filters-container {
  padding-top: 70px;
  display: flex;
  flex-direction: row;
  /*justify-content: space-between;*/
  flex-wrap: wrap;
}

.filters {
  width: 268px;
}

.filters fieldset {
  border: none;
}

.filters legend {
  position: relative;
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #000000;
}

.filters legend::before {
  content: "";
  position: absolute;
  top: 0;
  width: 201px;
  height: 2px;
  background-color: #000000;
}

.filters label {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 0.01em;
  color: #000000;
}

.catalog {
  margin-left: 50px;
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.catalog-item span {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #464646;
}

.compare-btn {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.01em;
  text-align: center;
  color: #000000;
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 0.5;
}

.compare-btn:hover,
.compare-btn:focus {
  opacity: 1;
  outline: none;
}

.compare-btn:active {
  opacity: 0.2
}

.pagination {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 77px;
  padding-left: 20px;
  padding-right: 20px;
  width: 800px;
  background-color: #ebebeb;
}

.pagination-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.pagination-item {
  padding-top: 25px;
  padding-right: 30px;
  padding-bottom: 25px;
}

.pagination-item a {
  opacity: 0.3;
}

.pagination-item a:hover,
.pagination-item a:focus {
  opacity: 0.6;
  outline: none;
}

.pagination-item a:active {
  opacity: 1;
}

.back-item a,
.next-item a {
  color: #000000;
  background-color: transparent;
  opacity: 1;
}

.back-item a:hover,
.back-item a:focus,
.next-item a:hover,
.next-item a:focus {
  color: #000000;
  background-color: #d9d9d9;
  outline: none;
}

.back-item a:active,
.next-item a:active {
  color: #acacac;
  background-color: #d9d9d9;
}

.back-item {
  padding-left: 30px;
  padding-right: 235px;
}

.next-item {
  padding-left: 195px;
  padding-right: 30px;
}

/**********FOOTER**********/

.footer-background {
  background-color: #464646;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 193px;
  padding-bottom: 67px;
  padding-top: 65px;
}

.footer p,
.phone-number {
  color: #ffffff;
  letter-spacing: 0em;
}

.footer-left {
  position: relative;
}

.footer-left p {
  padding-top: 3px;
}

.footer-left::after {
  content: "";
  position: absolute;
  bottom: 12px;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}

.footer-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 440px;
  padding-left: 150px;
}

.services-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 73px 15px 0 0;
}

.services-links a {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 1;
}

.services-links a:hover,
.services-links a:focus {
  opacity: 0.6;
  outline: none;
}

.services-links a:active {
  opacity: 0.3
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.social-links a {
  opacity: 0.3;
}

.social-links a:hover,
.social-links a:focus {
  opacity: 0.6;
  outline: none;
}

.social-links a:active {
  opacity: 0.1;
}

.social-btn {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 50px;
  height: 32px;
  padding-top: 10px;
}

.social-btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 32px;
  height: 32px;
  background-color: transparent;
}

.social-facebook::after {
  background: url("../img/fb.svg") no-repeat;
}

.social-instagram::after {
  background: url("../img/instagram.svg") no-repeat;
}

.social-twitter::after {
  background: url("../img/twitter.svg") no-repeat;
}

.footer-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

.footer-user-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-user-navigation li:not(:nth-of-type(1)) {
  padding-left: 40px;
}

.footer-user-navigation a {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-left: 24px;
  color: #ffffff;
  opacity: 0.7;
}

.footer-user-navigation a::before {
  opacity: 1;
}

.footer-user-navigation a:hover,
.footer-user-navigation a:focus {
  opacity: 1;
  outline: none;
}

.footer-user-navigation a:hover::before,
.footer-user-navigation a:focus::before {
  opacity: 0.6
}

.footer-user-navigation a:active {
  opacity: 0.3;
}

.footer-user-navigation .sign-in::before,
.footer-user-navigation .sign-out::before {
  background: url("../img/user-yellow.svg") no-repeat;
}

.footer-user-navigation .compare::before {
  background: url("../img/compare-yellow.svg") no-repeat;
}

.footer-user-navigation .basket::before {
  background: url("../img/cart-yellow.svg") no-repeat;
}

.phone-number {
  padding-bottom: 30px;
}

.copyright a:hover,
.copyright a:focus {
  opacity: 0.6;
  outline: none;
}

.copyright a:active {
  opacity: 0.3;
}

.copyright {
  margin-bottom: -10px;
}

/**********MODAL**********/

.modal-close {
  width: 55px;
  height: 55px;

  background-color: #f7e296;
  background: url("../img/modal-close.svg") no-repeat;
  border: none;

  cursor: pointer;
  opacity: 0.5;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
  outline: none;
}

.modal-close:active {
  opacity: 0.3;
}

.modal-write-us label {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 18px;
  letter-spacing: 0em;
  color: #000000;
}

.modal-write-us input::-webkit-input-placeholder {
  color: #000000;
  opacity: 0.4;
}

.modal-write-us input::-moz-placeholder {
  color: #000000;
  opacity: 0.4;
}

.modal-write-us input:-moz-placeholder {
  color: #000000;
  opacity: 0.4;
}

.modal-write-us input:-ms-input-placeholder {
  color: #000000;
  opacity: 0.4;
}

.modal-write-us input:hover::-webkit-input-placeholder {
  color: #000000;
  opacity: 0.4;
}

.modal-write-us input:hover::-moz-placeholder {
  color: #000000;
  opacity: 0.4;
}

.modal-write-us input:hover:-moz-placeholder {
  color: #000000;
  opacity: 0.4;
}

.modal-write-us input:hover:-ms-input-placeholder {
  color: #000000;
  opacity: 0.4;
}

.modal-write-us input:focus::-webkit-input-placeholder {
  color: #000000;
  opacity: 1;
}

.modal-write-us input:focus::-moz-placeholder {
  color: #000000;
  opacity: 1;
}

.modal-write-us input:focus:-moz-placeholder {
  color: #000000;
  opacity: 1;
}

.modal-write-us input:focus:-ms-input-placeholder {
  color: #000000;
  opacity: 1;
}

.modal-write-us input:invalid::-webkit-input-placeholder {
  color: #000000;
  opacity: 0.4;
}

.modal-write-us input:invalid::-moz-placeholder {
  color: #000000;
  opacity: 0.4;
}

.modal-write-us input:invalid:-moz-placeholder {
  color: #000000;
  opacity: 0.4;
}

.modal-write-us input:invalid:-ms-input-placeholder {
  color: #000000;
  opacity: 0.4;
}

.modal-write-us textarea::-webkit-input-placeholder {
  color: #000000;
  opacity: 0.4;
}

.modal-write-us textarea::-moz-placeholder {
  color: #000000;
  opacity: 0.4;
}

.modal-write-us textarea:-moz-placeholder {
  color: #000000;
  opacity: 0.4;
}

.modal-write-us textarea:-ms-input-placeholder {
  color: #000000;
  opacity: 0.4;
}

.modal-write-us textarea:hover::-webkit-input-placeholder {
  color: #000000;
  opacity: 0.4;
}

.modal-write-us textarea:hover::-moz-placeholder {
  color: #000000;
  opacity: 0.4;
}

.modal-write-us textarea:hover:-moz-placeholder {
  color: #000000;
  opacity: 0.4;
}

.modal-write-us textarea:hover:-ms-input-placeholder {
  color: #000000;
  opacity: 0.4;
}

.modal-write-us textarea:focus::-webkit-input-placeholder {
  color: #000000;
  opacity: 1;
}

.modal-write-us textarea:focus::-moz-placeholder {
  color: #000000;
  opacity: 1;
}

.modal-write-us textarea:focus:-moz-placeholder {
  color: #000000;
  opacity: 1;
}

.modal-write-us textarea:focus:-ms-input-placeholder {
  color: #000000;
  opacity: 1;
}

.modal-write-us textarea:invalid::-webkit-input-placeholder {
  color: #000000;
  opacity: 0.4;
}

.modal-write-us textarea:invalid::-moz-placeholder {
  color: #000000;
  opacity: 0.4;
}

.modal-write-us textarea:invalid:-moz-placeholder {
  color: #000000;
  opacity: 0.4;
}

.modal-write-us textarea:invalid:-ms-input-placeholder {
  color: #000000;
  opacity: 0.4;
}

.modal-write-us input,
.modal-write-us textarea {
  background-color: #f2f2f2;
}

.modal-write-us input:hover,
.modal-write-us textarea:hover {
  background-color: #ebebeb;
}

.modal-write-us input:focus,
.modal-write-us textarea:focus {
  background-color: transparent;
  outline: solid 2px #f0c52e;
}

.modal-write-us input:invalid,
.modal-write-us textarea:invalid {
  background-color: #f6dada;
}
